<section class="columns is-centered mt-6">
  <div class="column is-one-third">
    <div class="panel is-link">
      <h3 class="panel-heading"><%= @entry.meal_type %></h3>
      <div class="panel-block">
        Calories: <%= @entry.calories %>
      </div>
      <div class="panel-block">
        Carbohydrates: <%= @entry.carbohydrates %>
      </div>
      <div class="panel-block">
        Proteins: <%= @entry.proteins %>
      </div>
      <div class="panel-block">
        Fats: <%= @entry.fats %>
      </div>
    </div>

    <div class="columns is-mobile">
      <div class="column">
        <%= link_to "Edit", edit_entry_path(@entry), class: "button is-gray"%>
        <%= link_to "Back", entries_path, class: "button is-primary" %>
        <%= link_to "Delete", @entry, method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</section>
